.nav__list {
	list-style: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	line-height: 3;
}

.nav__link {
	color: #ffffff;
	background-color: #0008ffa3;
	font-weight: 700;
	text-decoration: none;
	text-shadow: none;
	border-radius: 10px/30px;
	padding: 10px 51px;
}

.nav__link:hover {
	background-color: #453c3c;
	color: white;
}